{% extends "master.html" %}
{% load i18n %}

{% block content %}
<a href="{% url 'home' %}">{% translate "Home" %}</a>
<table>
  <tr>
    <th>{% translate "Name" %}</th>
    <th>{% translate "Duration" %}</th>
    <th>{% translate "Status" %}</th>
    <th>{% translate "Actions" %}</th>
  </tr>
  {% for game in game_list %}
  <tr>
    <td>{{ game.name }}</td>
    <td>{{ game.duration }}</td>
    <td>{{ game.status }}</td>
    <td>
      <a href="{% url 'game:detail' game.pk %}">{% translate "Voir" %}</a>
      <a href="{% url 'game:update' game.pk %}">{% translate "Edit" %}</a>
      <a href="{% url 'game:delete' game.pk %}">{% translate "Delete" %}</a>
    </td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">{% translate "There is no game yet!" %}</td>
  </tr>
  {% endfor %}
</table>
<a href="{% url 'game:create' %}">{% translate "Create a new Game" %}</a>
{% endblock %}
