{% extends "master.html" %}
{% load i18n %}

{% block content %}

<h3>{{ game.name }}</h3>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% if object %}
    <input type="submit" value="Update">
    {% else %}
    <input type="submit" name="submit" value="{% translate 'Create and add another' %}">
    <input type="submit" name="submit" value="{% translate 'Create and continue modification' %}">
    <input type="submit" value="{% translate 'Create and go back to the list' %}">
    {% endif %}
</form>

{% endblock %}
