{% extends "master.html" %}
{% load i18n bootstrap_icons %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="offset-md-3 col-6">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">{% translate "Name" %}</th>
                            <th scope="col">{% translate "Duration" %}</th>
                            <th scope="col">{% translate "Level" %}</th>
                            <th scope="col">{% translate "Status" %}</th>
                            <th scope="col">{% translate "Actions" %} <span class="border"><a href="{% url 'game:create' %}">{% bs_icon 'plus' %}</a></span></th>
                        </tr>
                    </thead>
                    <tbody>

                    {% for game in game_list %}
                    <tr>
                        <th scope="row">{{ game.name }}</th>
                        <td>{{ game.duration }}</td>
                        <td>{{ game.get_level_display }}</td>
                        <td>{% translate game.get_status_display %}</td>
                        <td>
                            <a href="{% url 'game:detail' game.pk %}" class="border">{% bs_icon 'eye' %}</a>
                            <a href="{% url 'game:update' game.pk %}" class="border">{% bs_icon 'pencil' %}</i></a>
                            <a href="{% url 'game:delete' game.pk %}" class="border">{% bs_icon 'trash' %}</a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">{% translate "There is no game yet!" %}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>

{% endblock %}
