{% extends "master.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col">
        <h3>{{ game.name }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <form method="post">
            {% csrf_token %}
            {% crispy form %}
        </form>
      </div>

      <div class="offset-md-2 col-5">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            {% if object %}
            <input type="submit" value="Update">
            {% else %}
            <input type="submit" name="submit" value="{% translate 'Create and add another' %}">
            <input type="submit" name="submit" value="{% translate 'Create and continue modification' %}">
            <input type="submit" value="{% translate 'Create and go back to the list' %}">
            {% endif %}
        </form>
      </div>
    </div>

  </div>
{% endblock %}
