{% extends "master.html" %}
{% load i18n app_utils %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="offset-md-1 col-10">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">{% translate "You are about to delete this game:" %} {{ game.name }}</h5>
                        <p class="card-subtitle mb-2 text-body-secondary">{% translate "Duration" %}: {{ game.duration }}</p>
                        <p class="card-text {% if game.status == 'draft' %}text-danger{% elif game.status == 'ready' %}text-warning{% elif game.status == 'ongoing' %}text-success{% elif game.status == 'done' %}text-error{% endif %}">{{ game.get_status_display }}</p>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Confirm">
                        </form>
                    </div>
                    <div class="card-footer">
                        {% icon_action 'list' %}
                        {% icon_action 'detail' game.pk %}
                        {% icon_action 'update' game.pk %}
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
