{% extends "master.html" %}
{% load i18n %}

{% block title %}<h1>{% translate "Password change" %}</h1>{% endblock %}

{% block content %}
<a href="{% url 'home' %}">{% translate "Home" %}</a>
<p>{% translate 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "Change my password" %}</button>
</form>
{% endblock %}
