{% extends "master.html" %}
{% load i18n %}

{% block title %}<h1>{% translate "Password reset" %}</h1>{% endblock %}

{% block content %}
<a href="{% url 'home' %}">{% translate "Home" %}</a>
{% if validlink %}
<p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% translate "Reset" %}</button>
</form>
{% else %}
<p>{% translate "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}</p>
{% endif %}
{% endblock %}
