{% extends "master.html" %}
{% load i18n %}

{% block content %}
<table>
  <tr>
    {% if nb_players > 0 %}
    <td>{% translate "Nb of players" %}</td>
    <td>{{ nb_players }}</td>
    {% else %}
    <td colspan="2">{% translate "There are non players yet !" %}</td>
    {% endif %}
  </tr>
  <tr>
    {% if nb_games > 0 %}
    <td>{% translate "Nb of games" %}</td>
    <td>{{ nb_games }}</td>
    {% else %}
    <td colspan="2">{% translate "No games have been played yet !" %}</td>
    {% endif %}
  </tr>
</table>
<table>
  <tr>
    <th>{% translate "First name" %}</th>
    <th>{% translate "Last name" %}</th>
    <th>{% translate "Score" %}</th>
  </tr>
  {% for player in best_players %}
  <tr>
    <td>{{ player.user.first_name }}</td>
    <td>{{ player.user.last_name }}</td>
    <td>{{ player.score }}</td>
  </tr>
  {% empty %}
  <tr>
    <td colspan="3">{% translate "There is no game yet!" %}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
