{% load i18n %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ page_title }}</title>
</head>
<body>
    {% block nav_bar %}
    {% if user.is_authenticated %}
        <p>{% translate "Welcome" %} {{ user.first_name }} {{ user.last_name }} ({{ user.username }})</p>
        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">{% translate 'Log out' %}</button>
        </form>
        <a href="{% url 'password_change' %}">{% translate 'Change password' %}</a>
    {% else %}
        <a href="{% url 'login' %}">{% translate 'Log in' %}</a>
        <a href="{% url 'password_reset' %}">{% translate 'Reset password' %}</a>
    {% endif %}
    {% endblock %}
    {% block title %}<h1>{{ page_title }}</h1>{% endblock %}
    {% block content %}{% endblock %}
</body>
</html>
